@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{

    --background : #000000;
    --red : #c20000;
    --blue : #001F70;
    --gradient : linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25% rgba(196, 196, 196, 0) 87.5%);
    
    --font : 'Titillium Web', sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
    border: 0%;
    box-sizing: border-box;

}

body{
    font-family:var(--font);
    font-size: 16px;                              /*tamanho padrão de layout*/
    background-color: var(--background);
}

img{
    width: 100%;
}
.topo{
    width: 100%;
    height: 5rem;
    /* background-color: azure; */
}

.content{
    width: 92%;
    max-width: 75em; 
    height:90%;
    margin: auto;
    /* background-color: burlywood; */
}

.flex-center-bt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topo img{
    max-width:12.18em;
}

.menu{
    width: 100%;
    max-width:50em;
}

.menu ul{
    list-style-type:none;                          /*retira as bolinhas do lado */
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.menu a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.9em 0.5em;
    text-transform: uppercase;
}

.menu a:hover{
    background-color:var(--red);
    
}

#menu-bars{ 
    display: none;                               /*esconder menu mobile*/

}


.banner{
    width: 100%;
    position: relative;                        /*position pai*/

}

.banner-position{
    width: 100%;
    height: 100%;
    position: absolute;                    /*position absolute cola emcima do pai dele que seria o relative (banner)*/
    top: 0;
    /* background-color: rgba(0, 0, 255, 0.267); */
}

.banner-content{
    width: 95%;
    height: 93.5%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    /* background-color: rgba(245, 222, 179, 0.205); */
}

.banner-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* background-color:rgba(128, 255, 0, 0.5); */
}

.banner-text h1{
    font-size: 5.62em;

}

.banner-text p{
    font-size: 1.87em;

}

.banner-text a{
    font-size: 1.87em;
    text-transform: uppercase;
    color: #fff;
    text-decoration:none;
    background-color: var(--red);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin-top: 1em;

}

.jogos{
    width: 100%;
    height: 7.5em;
    color: #fff;
    /* background-color: chartreuse; */

}

.jogos ul{
    list-style-type: none;
    width: 100%;
}

.jogos ul a:hover img{
    transition: 0.5s;
    transform: scale(1.1);
}

.about{
    width: 100%;
    height: 31.25em;
    background-color: var(--blue);
    position: relative;

}
.about-angulation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.angulation{
    width:100%;
    height: 24em;
    background-color: var(--background);
    transform: skewy(-5deg);                         /*rotaciona  o eixo (Y)*/
}

.about-position{
    width: 100%;
    height: 100%;
     /* background-color:rgba(255, 0, 0, 0.397); */
     position: absolute;
     top: 0;

}

.about-text{
    width: 50%;
    margin-top: 6em;
    color: #fff;    
    text-align: justify;                         /*alinhar o texto como se estivesse em uma caixa*/
    
}

.about-text h2{
    font-size: 2.18em;
    margin-bottom: 0.5em;

}

.about-text p{
    font-size: 1em;                         /*tamanho da letra*/
    margin-bottom: 1em;                         /*mandar para baixo o conteudo*/

}

.about-position img{
    max-width: 31.87em;
    margin-top: 4em;

}

.jogos-aovivo, .jogos-embreve{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;  
    font-size: 1.575em;                         /*tamanho da fonte 30px*/
    text-transform: uppercase;  
    /* border-right: solid 1px #fff; */

    
}

.jogos-aovivo h2, .jogos-embreve h2{
    font-size: 1em;
    /* background-color:rgba(255, 0, 0, 0.397); */
}

.linha{
    /* content:''; */
    height: 4em;
    border: solid 1.5px #fff;
    /* margin: 0 1.5em;    */
}

.partida{
    width:10em ;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1em;
    /* background-color: red; */
}

.partida img{
    max-width:1.8em ;/*54px*/
   
}
.time1 img{
    margin-left: 0.5em;

}

.time2 img{
    margin-right: 0.5em;
}
.time1, .time2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    /* background-color: red; */
}
.bk-sobre{
    width: 100%;
     height: 55.12em;
     background-color:#1E1C21;
     display: flex;
     /* background-color: red; */
}
.noticias{
    width:73%;
    height:auto;
    margin-left: 2.5em;
    flex-wrap: wrap;
    /* background-color: green; */
    
}

.noticias h2{
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    padding-top: 0.6em;                           /*aliha a palavra NOTÍCIA no ponto certo*/
    color: white;
    /* background-color:blueviolet;  */
}   

.info-cards{
    width: 52.25em;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /*padding: 0 1em; */                             /*distancia dos cards*/
    /* background-color: rgb(25, 0, 255); */
    
}
.cards{
    width: 100%;
    height:23.125em;     
    max-width:15em ;
    margin-top: 1.5em;
    background-image: linear-gradient(to bottom ,#000000, rgba(99, 99, 99, 0.466),rgba(109, 109, 109, 0.158),#000);
    box-shadow:0 0 3px 0.5px #fff ;            /*colocar sombta da borda no card*/
}

.cards h3{
    width: 14.8em;
    font-size:1em ;
    padding: 0 2.5em;
    color:white;
    text-transform: uppercase;
    
}

.cards p{
    width: 20.25em;
    height: 14.6em;
    margin:auto;
    font-size: 0.7em;
    color: white;
    display: flex;
    text-align: justify;
    padding-top: 2em;
}
.horarios{
    width:23%;
    height:auto;
    /* background-color: rgb(0, 255, 242); */
}


.horarios h2{
    width:15.31em ;
    font-size: 1.87em;
    font-family: 'Roboto', sans-serif;
    padding-top: 0.6em;                             /* aliha a palavra NOTÍCIA no ponto certo */
    color: white;
}
.times {   
    width:14.81em ;
    height: 47.53em ;
    display:flex;
    margin-top: 2em;
    justify-content:space-around;
    /* align-items:stretch; */
    background-image: linear-gradient(to bottom , black, rgb(44, 44, 44),black);
}

.horarios .partida{
    width:7.7em ;
    display: flex;
    align-items: center;
    margin-top: 2.5em;                          /*Distancia das partidas com os horarios*/
     color: white; 
    /* background-color:rgb(255, 0, 221); */ 
    
}


.day{
    width: 85%;
    max-width: 200px;
    font-size: 0.5em;
    padding:1em 0 0 6em;
    color: white;
    display: flex;
    justify-content: center;
    text-align: justify;
    /* background-color: brown; */
}

.rodape{
    position: relative;
    /* background-color: violet; */
}
.box-rodape{
    width: 100%;
    height:12em ;
    display: flex;
    color: white;
    /* background-color: red; */
   
}


.links{
    margin-left: 9em;
}
.links, .paginas{
    width:10.87em ;
    height: auto;
    padding: 1em 0;
    color:white;
/* background-color: rgba(255, 255, 255, 0.904); */
}

.links a, .paginas a{
    color: white;
    text-decoration: none;
    padding-top: 6em;
    /* background-color: white; */
}

.logo-eplayers{
    
    padding-top: 5em;                     /*PADDING-TOP SERVE PARA EMPPURRAR PARA BAIXO OQUE ESTA DENTRO DA CAIXA */
    /* margin-top: 5em; */               /*MARGIN-TOP SERVE PARA EMPURRAR PARA BAIXO A CAIXA , NÃO OQUE ESTA DENTRO DELA*/
    /* background-color:red; */
}


.bottom-texto{
    width: 21.87em;
    height: 7em;
    margin: 3.5em 0 3em 4em;
    padding-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* background-color:rgb(240, 11, 11); */
}

.bottom-texto p{
    font-size: 0.8em;
    /* margin-top: 4em; */
    padding-right: 2em;
    /* background-color:blue; */
}

.email{
    width:8.5em;
    height:1.68em;
    font-size: 1.15em;
    color: rgba(2, 2, 2, 0.644);
    text-decoration:none;
    background-color: white;
    text-align: center;
    margin-right: 1em;

}

.cdstr{
    width: 9.37em;
    height: 1.68em;
    font-size: 1.15em;
    color: #fff;
    text-decoration:none;
    background-color: #9824F3;
    text-align: center;
    /* border-radius: 0.5em; */              /*serve para arredondar as bordas*/
}


@media screen and (max-width :74.93em){

}

@media screen and (max-width :47.93em){

}

@media screen and (max-width :35.93em){
    #menu-bars{
       display: block;/*mostrar menu mobile*/

    }

}