@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{

    --background : #000000;
    --red : #c20000;
    --blue : #001F70;
    --gradient : linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25% rgba(196, 196, 196, 0) 87.5%);
    
    --font : 'Titillium Web', sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
    border: 0%;
    box-sizing: border-box;

}

body{
    font-family:var(--font);
    font-size: 16px; /*tamanho padrão de layout*/
    background : var(--background);
}

img{
    width: 100%;
}
.topo{
    width: 100%;
    height: 5rem;
    /* background-color: azure; */
}

.content{
    width: 80%;
    max-width: 75em;/*em significa */
    height: 100%;
    margin: auto;
    /* background-color: burlywood; */
}

.flex-center-bt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topo img{
    max-width:12.18em;
}

.menu{
    width: 100%;
    max-width:50em;
}

.menu ul{
    list-style-type:none;/*retira as bolinhas do lado */
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.menu a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.9em 0.5em;
    text-transform: uppercase;
}

.menu a:hover{
    background-color:var(--red);
    
}

#menu-bars{
    display: none; /*esconder menu mobile*/

}


.banner{
    width: 100%;
    position: relative;/*position pai*/

}

.banner-position{
    width: 100%;
    height: 100%;
    position: absolute;/*position absolute cola emcima do pai dele que seria o relative (banner)*/
    top: 0;
    /* background-color: rgba(0, 0, 255, 0.267); */
}

.banner-content{
    width: 95%;
    height: 93.5%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    /* background-color: rgba(245, 222, 179, 0.205); */
}

.banner-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* background-color:rgba(128, 255, 0, 0.5); */
}

.banner-text h1{
    font-size: 5.62em;

}

.banner-text p{
    font-size: 1.87em;

}

.banner-text a{
    font-size: 1.87em;
    text-transform: uppercase;
    color: #fff;
    text-decoration:none;
    background-color: var(--red);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin-top: 1em;

}

.jogos{
    width: 100%;
    height: 7.5em;
    color: #fff;
    /* background-color: chartreuse; */

}

.jogos ul{
    list-style-type: none;
    width: 100%;
}

.jogos ul a:hover img{
    transition: 0.5s;
    transform: scale(1.1);
}

.about{
    width: 100%;
    height: 31.25em;
    background-color: var(--blue);
    position: relative;

}
.about-angulation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.angulation{
    width:100%;
    height: 24em;
    background-color: var(--background);
    transform: skewy(-5deg);/*rotaciona  o eixo Y*/
}

.about-position{
    width: 100%;
    height: 100%;
     /* background-color:rgba(255, 0, 0, 0.397); */
     position: absolute;
     top: 0;

}

.about-text{
    width: 50%;
    color: #fff;
    text-align: justify; /*alinhar o texto como se estivesse em uma caixa*/

}

.about-text h2{
    font-size: 2.18em;
    margin-bottom: 0.5em;

}

.about-text p{
    font-size: 1.125em;/*tamanho da letra*/
    margin-bottom: 1em;/*mandar para baixo o conteudo*/

}

.about-position img{
    max-width: 31.87em;

}

.jogos-aovivo, .jogos-embreve{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.875em;/*tamanho da fonte 30px*/
    text-transform: uppercase;
    /* border-right: solid 1px #fff; */

    
}

.jogos-aovivo::after{
    content:'';
    height: 2.666em;
    border: solid 1px #fff;
    margin: 0 1.5em;   
}

.partida{
    width:7em ;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1em;
    
}

.partida img{
    max-width:1.8em ;/*54px*/
   
}
.time1 img{
    margin-left: 0.5em;

}

.time2 img{
    margin-right: 0.5em;
}
.time1, .time2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}
.bk-sobre{
    width: 100%;
     height: auto;
     background-color: #080324;
     display: flex;
}
.noticias{
    width: 100%;
    height:auto;
    flex-wrap: wrap;
    /* background-color: rgb(231, 186, 186); */
    
}

.noticias h2{
    font-size: 2.18em;
    padding: 1em 4em;
    color: white;
}
.info-cards{
    width: 70%;
    height: auto;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 1.5em;
    
}
.cards{
    width:14.81em ;
    height:22.75em ;
     background-color: rgb(8, 4, 4);
     
}

.horarios{
    width: 43.75em;
    height:46,93em;
    background-color: red;
}

.times .card2{
    background-color: seagreen;
    width:14.81em ;
    height:22.75em ;
    background-color: rgb(8, 4, 4);
}

@media screen and (max-width :74.93em){

}

@media screen and (max-width :47.93em){

}

@media screen and (max-width :35.93em){
    #menu-bars{
       display: block;/*mostrar menu mobile*/

    }

}